.profile__info-button {
  width: 24px;
  height: 24px;
  background-image: url('../../../image-sprint-4/Edit\ Button.svg');
  background-color: #000000;
  border: 1px solid #FFFFFF;
  background-position: 50%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  align-self: center;
  cursor: pointer;
  transition: opacity .3s ease;
}

.profile__info-button:hover {
  opacity: .5;
}